.header_wrapper{
    padding: 0% 12%;
    flex-direction: column;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
}

.header_wrapper small{
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header_wrapper h2{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 50px;
    color: #fff;
    background-color: #ffffff45;
}

.header_wrapper p{
    width: 50%;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

.header_wrapper .social{
    display: flex;
    gap: 8px;
}

.header_wrapper .social i{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #fab300;
    font-size: 24px;
    font-weight: 400;
    border-radius: 50%;
    cursor: pointer;
    transition: .6s;
}

.header_wrapper .social:hover i:not(:hover){
    transform: translateY(-5px);
    box-shadow: 0px 8px 8px #fff;
}


@media screen and (min-width:300px) and (max-width: 700px){

    .header_wrapper{
        width: 100%;
        gap: 10px;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .header_wrapper span{
        font-size: 14px;
    }

    .header_wrapper p{
        width: 68%;
        font-size: 10px;
        padding: 5px;
    }
    .header_wrapper small{
        margin-top: 100px;
        font-size: 10px;
    }
    
    .header_wrapper .social i {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .header_wrapper button{
        margin-top: 10px;
        width: 40%;
        height: 30px;
        font-size: 8px;
    }

}

@media screen and (min-width:700px) and (max-width:1000px) {

    .header_wrapper{
        gap: 30px;
    }

    .header_wrapper small{
        font-size: 16px;
    }

    .header_wrapper p{
        width: 60%;
        font-size: 16px;
    }
    .header_wrapper h2{
        flex-direction: column;
        align-items: flex-start;
        font-size: 24px;
    }

    .header_wrapper .social i {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }
}